*.egg-info
*.hex
*.pyc
.ropeproject
*/Arduino/*/Config.h
paver-minilib.zip
build/*
*/*_pb2.py
*/Arduino/*/*CommandProcessor.h
*.o
*/protobuf/nano
*/protobuf/py
*/protobuf/*.proto
.sconsign.dblite
arduino_rpc/protobuf_commands.py
dist/*
*~
.project
.pydevproject
arduino_rpc/Arduino/library/*
.idea

# Mac crap
.DS_Store