include README.md
include build_flags.py
include file_handler.py
include setup.py
recursive-include arduino_rpc *
recursive-exclude arduino_rpc *~
recursive-exclude arduino_rpc *.pyc
exclude .DS_Store
recursive-exclude arduino_rpc .DS_Store
include versioneer.py
include arduino_rpc/_version.py
